%h2	Type in the long url to get a short url
- unless flash[:errors].nil?
	%ul.errors-container
		- flash[:errors].each do |error|
			%li #{error}
%form{ :action => shorten_url, :method => "POST" }
	= form_auth
	.label-container.clearfix
		.label
			%label{:for => "out_url"}
				long url:
		.item
			%input{:type => "text", :name => "link[out_url]", :id => "out_url", :value => @link[:out_url]}
		%input{:type => "submit", :value => "get shortened url", :class=>"submit-btn"}


- unless @links.empty?
	%h2 Shorten urls index
	- @links.each do |link|
		.label-container.clearfix
			.label #{link.out_url} &#8594
			.item
				= link_to "#{short_url(link.in_url)}", short_url(link.in_url)